<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load leaflet_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% leaflet_js %}
    {% leaflet_css %}
    <title>Document</title>
    <style type="text/css">
        #gis {width:80%;height: 700px;}
    </style>

    {% comment %} <style type="text/javascript" src=" {% static 'dist/leaflet.ajax.js' %}"></style> {% endcomment %}
</head>
<body>
    <br>
    <script type="text/javascript">
        function out_layers(map) {
            // Fetch the county data from the server
            fetch("{% url 'county_datasets' %}")
                .then(response => response.json())  // Parse the JSON response
                .then(data => {
                    // Add the GeoJSON data to the map and bind popups
                    L.geoJSON(data, {
                        onEachFeature: function (feature, layer) {
                            // Assuming your GeoJSON has a 'name' property for the popup
                            layer.bindPopup('<strong>' + feature.properties.geom + '</strong><br>' +
                                            'Additional Information: ' + feature.properties.area);
                        }
                    }).addTo(map);
                })
                .catch(error => {
                    console.error('Error loading the GeoJSON data:', error);
                });
    
            // Fetch data from incidents table
            fetch("{% url 'incidents' %}")
                .then(response => response.json())  // Parse the JSON response
                .then(data => {
                    // Add the GeoJSON data to the map and bind popups
                    L.geoJSON(data, {
                        onEachFeature: function (feature, layer) {
                            // Assuming your GeoJSON has a 'description' property for the popup
                            layer.bindPopup('<strong>' + feature.properties.name.toString);
                        }
                    }).addTo(map);
                })
                .catch(error => {
                    console.error('Error loading the GeoJSON data:', error);
                });
        }
    </script>
    

    {% leaflet_map "gis" callback="window.out_layers"%}
    
</body>
</html>