<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load leaflet_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% leaflet_js %}
    {% leaflet_css %}
    <title>Document</title>
    <style type="text/css">
        #gis {width:80%;height: 700px;}
    </style>

    <style type="text/javascript" src=" {% static 'dist/leaflet.ajax.js' %}"></style>
</head>
<body>
    <br>
   
    <script type="text/javascript">
        function out_layers(map){
            // Fetch the GeoJSON data from the server
            fetch("{% url 'county_datasets' %}")
                .then(response => response.json())  // Parse the JSON response
                .then(data => {
                    // Add the GeoJSON data to the map
                    L.geoJSON(data).addTo(map);
                })
                .catch(error => {
                    console.error('Error loading the GeoJSON data:', error);
                });
        }
    </script>
    {% leaflet_map "gis" callback="window.out_layers" %}
    
</body>
</html>